
/* npm run build@import.url(<"https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap">) */

* {
  padding: 0px;
  margin: 0px;
}
.container {
  padding: 20px;
  text-align: center;
font-family: 'Baloo Da 2', cursive;

}
.divone span{
  font-weight:bold ;
}
.card{
    padding: 20px;
    display: flex;
    margin-right: 50px;
    /* display:inline-block */
}
